<main>

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/carusel1.jpg" class="bd-placeholder-img" width="100%" height="100%">
          <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg> -->
  
          <div class="container">
            <div class="carousel-caption text-start">
              <h1>Красноярск микрозелень.</h1>
              <p>Это свежая зелень молотых простков выращеная без добавления химии.</p>
              <p><a class="btn btn-lg btn-primary" routerLink="/in-stock">Перейти</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>
  
          <div class="container">
            <div class="carousel-caption">
              <h1>Вырасти сам.</h1>
              <p>В этом разделе можно самостоятельно посадить и вырастить микрозелень.</p>
              <p><a class="btn btn-lg btn-primary" routerLink="/order-cultivation">Посеить</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>
  
          <div class="container">
            <div class="carousel-caption text-end">
              <h1>Справочник.</h1>
              <p>В этом разделе найдете подробное описание каждой культуры.</p>
              <p><a class="btn btn-lg btn-primary" routerLink="/content">Читать</a></p>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  
  
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
  
    <div class="container marketing">
  
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img src="assets/marcet1.png" class="border bd-placeholder-img rounded-circle" width="140" height="140">
          <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg> -->
  
          <h2>горох (Мадраст)</h2>
          <!-- <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p> -->
          <p>Микрозелень зеленого гороха обладает сладковатым нежным вкусом молодых молочных стручков зеленого горошка. Её можно употреблять...</p>
          <p><a class="btn btn-secondary" href="https://getbootstrap.com/docs/5.0/examples/carousel/#">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
  
          <h2>Рукола (Индау)</h2>
          <!-- <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p> -->
          <p>Микрозелень руколы (Индау) имеет пряный, орехово-горчичный и очень приятный аромат. Благодаря особому сочетанию эфирных масел, имеет...</p>
          <p><a class="btn btn-secondary" href="https://getbootstrap.com/docs/5.0/examples/carousel/#">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
  
          <h2>подсолнечник</h2>
          <!-- <p>And lastly this, the third column of representative placeholder content.</p> -->
          <p>Микрозелень подсолнечника хрустящая, сочная, со вкусом и ароматом молодых семечек. И сколько полезных блюд можно с ней приготовить! Прекрасно...</p>
          <p><a class="btn btn-secondary" href="https://getbootstrap.com/docs/5.0/examples/carousel/#">View details »</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
  
  
      <!-- START THE FEATURETTES -->
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Микрозелень это. <!-- <span class="text-muted">It’ll blow your mind.</span>--></h2>
          <p class="lead">молодые побеги растений, которые используются как в пищу, так и для украшения блюд. Её используют в салатах, супах, коктейлях, смузи, других напитках и блюдах. Из-за высокого содержания полезных веществ такая пища считается очень перспективной, а её потребление неуклонно растёт.</p>
        </div>
        <div class="col-md-5">
          <img src="assets/promo1.jpg" class="border bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
          <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
          
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Польза от микрозелени. <!--<span class="text-muted">See for yourself.</span>--></h2>
          <p class="lead">Во всех молодых растениях содержатся высокие дозы витаминов C, E, K, минералов и антиоксидантов, причём, как правило, в гораздо больших количествах, чем во взрослой зелени. Согласно исследованиям учёных США мыши, употреблявшие микрозелень капусты, имели более низкий уровень «плохого» холестерина, чем их сородичи, употреблявшие такую же капусту, только во взрослом виде.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img src="assets/promo2.jpg" class="border bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
          <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
  
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Доставка по Красноярску. <!--<span class="text-muted">Checkmate.</span>--></h2>
          <p class="lead">Каждую субботу доставляем микрозелень по предварительному заказу.</p>
        </div>
        <div class="col-md-5">
          <img src="assets/promo3.jpg" class="border bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
          <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
  
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <!-- /END THE FEATURETTES -->
  
    </div><!-- /.container -->

  <!-- FOOTER -->
  <footer class="container">
    <p>© 2021 YGreens | Красноярск микрозелень</p>
  </footer>
</main>
