<div class="container mt-3">
<div class="row mb-3" *ngFor="let basket of basketList">
    <div class="col col-lg-2">
            <img [src]="basket.nomenclatureInStock.nomenclature.image.fileName |pathImg" class="img-thumbnail" alt="...">
    </div>
    <div class="col">
        <p>{{basket.nomenclatureInStock.nomenclature.title}}</p>
    </div>
    <div class="col col-lg-2">
        <p>{{basket.nomenclatureInStock.price.price}} руб.</p>
        <p>Цена за 1 шт.</p>
    </div>
    <div class="col col-lg-1" style="width: 150px;">
        <app-count [max]="basket.nomenclatureInStock.available"></app-count>
    </div>
    <div class="col col-lg-1">
        <p>{{basket.nomenclatureInStock.price.price}} руб.</p>
    </div>
</div>
</div>