<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="nomenclature" class="form-label">Nomenclature</label>  
        <app-select-nomenclature id="nomenclature" formControlName="nomenclature"></app-select-nomenclature>
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Price</label>  
        <app-select-price id="price" formControlName="price" [nomenclature]="form.value.nomenclature"></app-select-price>
    </div>
    <div class="mb-3">
        <label for="count" class="form-label">Count</label>  
        <app-count id="count" formControlName="count"></app-count>
    </div>
    <button type="submit" class="btn btn-success mb-3" [disabled]="!form.valid">Добавить</button>
</form>

<div class="row mb-3" *ngFor="let nomenclatureInStock of nomenclatureInStocList">
    <div class="col col-lg-3">
        <img [src]="nomenclatureInStock.nomenclature.image.fileName |pathImg" class="img-thumbnail" alt="...">
    </div>
    <div class="col">
        <h1>{{nomenclatureInStock.nomenclature.title}}</h1>
        <p>Посажен: {{nomenclatureInStock.create |date:'yyyy-mm-dd'}}</p>
        <p>В наличии: {{nomenclatureInStock.available}} / {{nomenclatureInStock.count}}</p>
        <p>Цена: {{nomenclatureInStock.price.price}}р.шт.</p>
        <button class="btn btn-primary" (click)="onEdit(nomenclatureInStock)">Редактировать</button>
        <button class="btn btn-danger" (click)="onDelete(nomenclatureInStock)">Удалить</button>
    </div>
</div>