<div class="row mb-3">
    <div class="col col-lg-3">
        <img src="/api/img/peas.jpg" class="img-thumbnail" alt="...">
    </div>
    <div class="col">
        <h1>Горох зеленый (Мадрас)</h1>
        <p>Посажен: 01-06-2021 19:18</p>
        <p>В наличии: 8</p>
        <p>Цена: 150р.шт.</p>
        <button class="btn btn-primary">Подробнее...</button>
        <button class="btn btn-success">Купить</button>
    </div>
</div>

<div class="row mb-3">
    <div class="col col-lg-3">
        <img src="/api/img/arugula.jpg" class="img-thumbnail" alt="...">
    </div>
    <div class="col">
        <h1>Руккола (Индау)</h1>
        <p>Посажен: </p>
        <p>В наличии: 0</p>
        <p>Цена: 150р.шт.</p>
        <button class="btn btn-primary">Подробнее...</button>
        <button class="btn btn-success">Заказать</button>
    </div>
</div>